
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Posts </title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>User Posts</h1>
        
		 <table class="table table-bordered ">
		  <thead class="table-dark">
		    <tr>
		      <th scope="col">User Post Title</th>
		      <th scope="col">User Post Comment</th>
		    </tr>
		  </thead>
		  <tbody class="table-success">
		    <tr th:each="postList : ${postsInfoList}">
		      <td th:text="${postList.title}"></td>
		      <td th:text="${postList.body}"></td>
		   </tr>
		  </tbody>
		</table>
        
 
        <hr>
 
        <a th:href="@{/}"> Back to Users List</a>
    </div>
</body>
</html>